.bordered {
    box-shadow:2px 2px 11px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow:2px 2px 11px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background: #fffaf0;
}

.svg {
    width:100%;
    height:100%;
}
.link {
    stroke: black;
    stroke-width: 5;
    fill: none;
}

.vertex {
    fill: #eee;
    stroke: #000;
    stroke-width: 5;
}

.vertexLabel {
    fill: #000;
    font-family: sans-serif;
    text-anchor: middle;
    padding-top: 50%;
    user-select: none;
    pointer-events: none;
}

.StudentMark {
    height: 100%;
    display: inline-block;
}

.Mark {
    font-size: x-large;
    height: 100%;
    display: inline-block;
}

.MarkNegative {
    font-size: x-large;
    height: 100%;
    display: inline-block;
    color: red;
}

.MarkPositive {
    font-size: x-large;
    height: 100%;
    display: inline-block;
    color: green;
}

.MarkNeutral {
    font-size: x-large;
    height: 100%;
    display: inline-block;
    color: yellow;
}

.Console {
    height: 100%;
    display: inline-block;
}

.App {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.MainRow {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80%;
}

.GraphCell {
    position: fixed;
    left: 15%;
    top: 1%;
    width: 62%;
    height: 78%;
}

.ToolCell {
    position: fixed;
    left: 1%;
    top: 1%;
    width: 12%;
    height: 78%;
}

.TaskCell {
    position: fixed;
    left: 79%;
    top: 1%;
    width: 20%;
    height: 78%;
}

.LeftBottom {
    position: fixed;
    left: 1%;
    top: 80%;
    width: 12%;
    height: 19%;
}

.LowRow {
    position: fixed;
    left: 15%;
    top: 80%;
    width: 84%;
    height: 19%;
}

.TaskToolbarCenterPosition {

}

.Title {
    font-size: 100%;
}

.ToolButton {
    position: relative;
    width: 100%;
    margin-left: -50%;
    left: 50%;
}

.ButtonList {
    display: block;
}